In [19]:
import pandas as pd
dados1 = pd.read_csv("26-6--23:56-top10.csv")
dados1.drop("Unnamed: 0", axis=1, inplace=True)
print(type(dados1))
dados1.to_json()

<class 'pandas.core.frame.DataFrame'>

'{"id":{"0":1041465860,"1":913943275,"2":1017492454,"3":669196929,"4":1011132019,"5":544119998,"6":835217317,"7":1037830332,"8":1056681903,"9":459313476},"track_name":{"0":"Model 15","1":"TIDAL","2":"YouTube Music","3":"djay 2","4":"NOISE","5":"Magellan","6":"DatPiff","7":"Ringtones for iPhone Unlimited.","8":"djay Pro","9":"Tenuto"},"n_citacoes":{"0":123527,"1":108633,"2":105766,"3":68446,"4":39466,"5":38696,"6":25871,"7":12375,"8":11128,"9":10452},"size_bytes":{"0":205972480,"1":63882240,"2":114122752,"3":119949312,"4":99423232,"5":44860416,"6":88672256,"7":48986112,"8":293967872,"9":13062144},"price":{"0":29.99,"1":0.0,"2":0.0,"3":4.99,"4":0.0,"5":2.99,"6":0.0,"7":2.99,"8":19.99,"9":3.99},"prime_genre":{"0":"Music","1":"Music","2":"Music","3":"Music","4":"Music","5":"Music","6":"Music","7":"Music","8":"Music","9":"Music"}}'

In [12]:
dados2 = pd.read_csv("26-6--23:59-top10.csv")
dados2

,Unnamed: 0,id,track_name,n_citacoes,size_bytes,price,prime_genre
0,0,284035177,Pandora - Music & Radio,0,130242560,0.00,Music
1,1,933350763,Flewn,0,534294528,2.99,Book
2,2,709003148,GANMA! - 漫画が制限ナシで読み放題のマンガアプリ,0,73193472,0.00,Book
3,3,721512660,comico/人気オリジナル漫画が毎日更新！/コミコ,0,73945088,0.00,Book
4,4,729686081,Pan Book 2: Chasing the Keeper,0,792521728,5.99,Book
5,5,768592885,宜搜小说-亿万网友共享高品质阅读离线追更,0,42125312,0.00,Book
6,6,802869990,宜搜小说-热门网络书籍看书追更必备神器,0,39294976,0.99,Book
7,7,855062660,ikouhoushi,0,58945536,0.00,Book
8,8,876336838,喜马拉雅FM（听书社区）电台有声小说相声英语,0,130731008,0.00,Book
9,9,906936224,快看漫画,0,63058944,0.00,Book

In [11]:
dados3 = pd.read_csv("27-6--0:21-top10.csv")
dados3

,Unnamed: 0,id,track_name,n_citacoes,size_bytes,price,prime_genre
0,0,1017492454,YouTube Music,176711,114122752,0.00,Music
1,1,1041465860,Model 15,124208,205972480,29.99,Music
2,2,669196929,djay 2,68454,119949312,4.99,Music
3,3,1100636064,Music and Chill,44232,28763136,0.00,Music
4,4,544119998,Magellan,38340,44860416,2.99,Music
5,5,1130398188,Addictive Pro,35900,43658240,19.99,Music
6,6,835217317,DatPiff,30627,88672256,0.00,Music
7,7,913943275,TIDAL,29940,63882240,0.00,Music
8,8,1011132019,NOISE,22193,99423232,0.00,Music
9,9,1037830332,Ringtones for iPhone Unlimited.,12375,48986112,2.99,Music

In [14]:
dados4 = pd.read_csv("27-6--0:29-top10.csv")
dados4

,Unnamed: 0,id,track_name,n_citacoes,size_bytes,price,prime_genre
0,0,1011132019,NOISE,131805,99423232,0.00,Music
1,1,1017492454,YouTube Music,95123,114122752,0.00,Music
2,2,1041465860,Model 15,83008,205972480,29.99,Music
3,3,669196929,djay 2,68456,119949312,4.99,Music
4,4,1100636064,Music and Chill,44236,28763136,0.00,Music
5,5,544119998,Magellan,38408,44860416,2.99,Music
6,6,1130398188,Addictive Pro,35902,43658240,19.99,Music
7,7,835217317,DatPiff,30627,88672256,0.00,Music
8,8,913943275,TIDAL,30232,63882240,0.00,Music
9,9,1037830332,Ringtones for iPhone Unlimited.,12375,48986112,2.99,Music

In [15]:
dados5 = pd.read_csv("27-6--0:34-top10.csv")
dados5

,Unnamed: 0,id,track_name,n_citacoes,size_bytes,price,prime_genre
0,0,1085497631,謎解き,4276,16080896,0.00,Book
1,1,1068026210,ジェスチャー当て,296,10823680,0.00,Book
2,2,1092463029,お解きなさい！,216,9191424,0.00,Book
3,3,1024818709,HOOKED - Chat Stories,25,94545920,0.00,Book
4,4,1054867839,スッキリ謎解きゲーム！！,2,8943616,0.00,Book
5,5,876336838,喜马拉雅FM（听书社区）电台有声小说相声英语,0,130731008,0.00,Book
6,6,919478091,マンガ図書館Z -人気漫画が読み放題！,0,77494272,0.00,Book
7,7,914189520,The Complete Adventures of Pan (Books 1-7),0,2334249984,27.99,Book
8,8,909110675,Dr. Seuss Treasury — 50 best kids books,0,100943872,0.00,Book
9,9,906936224,快看漫画,0,63058944,0.00,Book