In [7]:
import pandas as pd
dados1 = pd.read_csv("26-6--23:56-top10.csv")
dados1
dados2 = pd.read_csv(26-6--23:59-top10.csv"")
# from datetime import datetime
# hj = datetime.now()
# hj.hour
# hj.minute

,Unnamed: 0,id,track_name,n_citacoes,size_bytes,price,prime_genre
0,0,1041465860,Model 15,123527,205972480,29.99,Music
1,1,913943275,TIDAL,108633,63882240,0.00,Music
2,2,1017492454,YouTube Music,105766,114122752,0.00,Music
3,3,669196929,djay 2,68446,119949312,4.99,Music
4,4,1011132019,NOISE,39466,99423232,0.00,Music
5,5,544119998,Magellan,38696,44860416,2.99,Music
6,6,835217317,DatPiff,25871,88672256,0.00,Music
7,7,1037830332,Ringtones for iPhone Unlimited.,12375,48986112,2.99,Music
8,8,1056681903,djay Pro,11128,293967872,19.99,Music
9,9,459313476,Tenuto,10452,13062144,3.99,Music